@using EntityLayer.Concrate
@model List<Writer>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yazar Liste Sayfası</h1>
<br />
<table class="table table-hover">
    <tr>
        <th>Yazar ID</th>
        <th>Yazar İsim</th>
        <th>Yazar Soyisim</th>
        <th>Yazar Foto</th>
        <th>Yazar Mail</th>
        <th>Yazar Şifre</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WriterID</td>
            <td>@item.WriterName</td>
            <td>@item.WriterSurname</td>
            <td>@item.WriterImage</td>
            <td>@item.WriterMail</td>
            <td>@item.WriterPassword</td>
        </tr>

    }
</table>